

body{
    background: linear-gradient(to right, #000000, #002efc);
    }

    .header{
        background-color: black;
        height: 100px;
        text-align: center;
        color: whitesmoke;
    }

    .header2{
        background-color: black;
        height: 100px;
        text-align: center;
        color: whitesmoke;
        margin-top: 135px;
    }
    
    
    .logo_laliga{
        text-align: left;
    }
    
    #laliga{
        position: absolute;
        height: 80px;
        margin-left: 75px;
        margin-top: 5px;
    }
    
    #logo{
        height: 100px;
        cursor: pointer;
    }
    
    .btcarrito{
        background-color: black;
        position: absolute;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 0px;
        margin-left: 20%;
        border-style: none;
    }
    
    #carrito{
        height: 80px;
    }
    
    #carrito:hover{
        cursor: pointer;
        height: 85px;
    }
    
    
    #banner{
        size: inherit;
        text-align: center;
        background-color: black;
    }
    
    #img{
        height: 200px;
    }
    
    .contenido{
        margin-top: 115px;
        text-align: center;
    }
    
    .producto{
        text-align: center;
        height: 180px;
        margin-right: 0px;
        opacity: 100%;
    }
    
    .producto:hover{
        height: 200px;
        cursor: pointer;
    }
    
    .boton{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
        color: white;
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }