
body{
	margin: 0;
    background-color: #00ff2a;
	width: 100%;
}
.header{
    display: grid; 
    align-items: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
  
    margin-bottom: 2%;
    height: 80px;
  }
  h3 {
    font-family: "HARRYP__";
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    color:#a85;
  
    }
    button{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(163, 131, 83);
        color: white;
        padding: 3px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        border-radius: 15px;
        border-width: 3px;
        border-color: white
      }
      button:hover {
        background-color: #ffff;
        color: #a85 ;
        border-color:  #a85;
        border-width: 3px;
      }
      .screen{
        width: 60%;
        height: 400px;
        /*background-color: #ffffffa4; */
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: auto;
        text-align:left;
        margin:0 auto;
        padding:10px;
        overflow: auto;
        border-radius: 20px;
        border:black 15px solid;
        overflow-y: scroll;
        scroll-behavior: smooth;
      }
      .barra{
        width: 60%;
        height: 65px;
        background-color: black;
        padding: 10px;
        margin: auto;
        border:black 15px solid;
        border-bottom:black 10px solid;
        border-top:black 0px solid;
        margin-bottom: 20px;
        border-radius: 20px;
      }
.chat{
    font-family: 'Courier New';
    background-color: #5dd45d;
    border: 15px solid #21bd29;
    border-radius: 10px;
    left: 50px;
    top: 50px;
    width: 1050px;
    height: 400px;
    padding: 10px;
    margin: auto;
    text-align:left;
    margin:0 auto;
    padding:10px;
    overflow: auto;
  
  }