body{
	margin: 0;
    background-color: #00ff2a;
	width: 100%;
}
.cabecera{
    background-color: #00ff0d;
    margin: auto;
    padding: 1px;
    border-radius: 3px;

}
h1{
    text-align: center;
    font-family: 'Courier New', cursive;
    padding-bottom: 5px;
    font-size: 65px;
}