
body {
  padding: 0px 0 0 0;
  top: 0;
  margin: 0;
  background: linear-gradient(to right, #000000, #002efc);
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
}
.header{
  /* Enable flex mode. */
  display: grid; 
  /* Align items vertically in the center. */
  align-items: center;
  background-size:cover;
  background-repeat: no-repeat;
  text-align: center;
  
  margin-bottom: 2%;
  height: 80px;
}

#right{
  float:right;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 660px;
  border-radius: 10px;
}
li{
text-align: justify;
font-size: 23px;
font-weight:lighter;
}
#info1,#info2, #info3, #info4, #info5, #info5, #info6{
color: #7c0000;
}
#left{
  float:left;
  width: 52%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 660px;
  border-radius: 10px;
}


h3 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color:#7c0000;;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
}
h2{
  font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(163, 131, 83);
  color:honeydew;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 15px;
  border-width: 3px;
  border-color: white
}

button:hover {
  background-color: #7c0000;
  color: #a85 ;
  border-color:  #a85;
  border-width: 3px;
  text-decoration: none;
}

.screen{
  width: 60%;
  height: 400px;
  /*background-color: #ffffffa4; */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
  text-align:left;
  margin:0 auto;
  padding:10px;
  overflow: auto;
  border-radius: 20px;
  border:black 15px solid;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#display{
  font-size: 25px;
  margin: 0%;
  overflow-y: scroll;
  color: black;
  text-align: justify;
  margin-left: 5%;
}

p{
color: #7c0000;
font-size: 25px;
margin-top: 0%;
margin-bottom: 0%;
}